<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-------------------- TABLE HERE-------------------->
      <table class="table table-borderless col-xs-9 table-border">


        <tr>
          <th class="thin">Purchase Closing Costs: </th>
          <th class="text-md-right">$ {{closingCosts}}</th>
        </tr>

        <tr>
          <th class="thin">Estimated Repair Costs: </th>
          <th class="text-md-right">$ {{repairCosts}}</th>
        </tr>

        <tr>
          <th class="thin">Total Project Cost:</th>
          <th class="text-md-right">$ {{totalCashNeededRun}}</th>
        </tr>

        <tr>
          {{!-- Blank Row --}}
        </tr>

        <tr>
          <th class="thin">Down Payment: </th>
          <th class="text-md-right">$ {{downPayment}}</th>
        </tr>

        <tr>
          <th class="thin">Loan Amount: </th>
          <th class="text-md-right">$ {{principalRun}}</th>
        </tr>

        <tr>
          <th class="thin">Loan Points: </th>
          <th class="text-md-right">$ {{lenderFees}}</th>
        </tr>

        <tr>
          <th class="thin">Amortized Over: </th>
          <th class="text-md-right">{{loanLength}} Years</th>
        </tr>

        <tr>
          <th class="thin">Loan Interest Rate: </th>
          <th class="text-md-right">{{interestRate}} %</th>
        </tr>

        <tr>
          <th class="thin">Monthly P&I: </th>
          <th class="text-md-right">$ {{monthlyPaymentRun}}</th>
        </tr>

        <tr>
          <th class="thin">Total Cash Needed: </th>
          <th class="text-md-right">$ {{totalCashNeededRun}}</th>
        </tr>

      </table>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <!--------------------TABLE HERE VV TABLE RESPONSIVE HERE.. MAYBE CHANGE-------------------->
          <table class="table table-responsive table-borderless col-xs-9">
            <tr>
              <th>$ {{totalMonthlyIncomeRun}}</th>
              <th>$ {{totalMonthlyExpensesRun}}</th>
              <th>$ {{cashFlowRun}}</th>
              <th>{{capRateRun}}%</th>
            </tr>

            <tr>
              <th class="thin">Monthly Income</th>
              <th class="thin">Monthly Expenses</th>
              <th class="thin">Monthly Cash Flow</th>
              <th class="thin">Cap Rate</th>
            </tr>

            <tr>
              <th>$ {{netOperatingIncomeRun}}</th>
              <th>$ {{totalCashNeededRun}}</th>
              <th>{{cashOnCashRun}} %</th>
            </tr>

            <tr>
              <th class="thin">Net Operating Income</th>
              <th class="thin">Total Cash Needed</th>
              <th class="thin">Cash On Cash ROI</th>
            </tr>

          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!---------------------------- CHART  HERE------------------------------->
          <canvas id="myChart" class="width" width="100" height="100"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  let reportID = JSON.parse('{{{json reportID}}}')
</script>